---
const today = new Date();
---

<footer>
  <div class="footer-links">
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/privacy">Privacy Policy</a>
    <a href="/terms">Terms</a>
  </div>
  <div class="copyright">&copy; {today.getFullYear()} | rhcwlq89.</div>
</footer>
<style>
  footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.9em;
    margin-bottom: 0.9em;
  }
  .footer-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .footer-links a:hover {
    color: rgb(var(--gray-dark));
    text-decoration: underline;
  }
  .copyright {
    font-size: 0.95em;
  }
</style>
